<navbar></navbar>
<title>{{post.titre}}</title>

<div ng-show="loading" class="container admin text-center"><em><i style="font-size:15em;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i><br>
            <h1>Loading...</h1></em></div>
<div ng-hide="loading">
    <h1><b><em>{{post.titre}}</em></b></h1>
    <br>
    <div class="row">
        <div class="col-sm-8 col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!"><i class="fa fa-home" aria-hidden="true"></i><em> Home</em></a></li>
                <li class="breadcrumb-item"><a href="#!/category={{post.categorie}} {{post.category_id}}/1"><i class="fa fa-folder-open-o" aria-hidden="true"></i> <em>{{post.categorie}}</em></a></li>
                <li class="breadcrumb-item active"><i class="fa fa-file-text-o" aria-hidden="true"></i> <em>{{post.titre}}</em></li>
            </ol>

            <br>
            <div ng-bind-html="post.contenu"></div> <br>
            <div class="row">
                <div class="col-sm-4 col-12" ng-repeat="image in images">
                    <a href="img/articles/{{image.name}}" data-lightbox="roadtrip">
                        <p><img src="img/articles/{{image.name}}" class="img-fluid img-thumbnail" alt="Images" width="300px"></p>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 col-4">
            <h2><i class="fa fa-folder-open-o" aria-hidden="true"></i><em> Categories</em></h2>
            <li class="list-unstyled" ng-repeat="categorie in categories"><a href="#!/category={{categorie.titre}} {{categorie.id}}/1">{{categorie.titre}}</a></li>
        </div>
    </div>




    <div class="row">
        <div class="col-sm-6 col-6">
            <form ng-submit="commenter()">
                <h3><i class="fa fa-commenting" aria-hidden="true"></i> <em>Poster Vos Commentaires</em></h3>

                <label for="name">Name : </label> <input type="text" id="name" class="form-control control" name="name" ng-model="name" placeholder="Enter Ur Name" required>
                <br>
                <label for="comment">Votre Commentaire : </label><textarea id=" comment " class="form-control control " ng-model="comment " name="comment " required></textarea>
                <br>
                <div class="text-right ">
                    <button type="submit " class="btn btn-outline-primary"><i class="fa fa-commenting-o" aria-hidden="true"></i><em> Commenter</em></button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 col-6">
            <div>
                <h3><i class="fa fa-comments" aria-hidden="true"></i> <em>Commentaires</em> :</h3>
                <div class="text-right ">
                    <select ng-model="select">
                                <option value="+date">oldest</option>   
                                 <option value="-date" selected>newest</option>   
                            </select>
                    <br>
                </div>
            </div>
            <div ng-show="load" class="container admin text-center"><em><i style="font-size:15em;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i><br>
            <h1>Loading...</h1></em></div>
            <div ng-hide="load">
                <div ng-repeat="comment in comments|orderBy:select ">
                    <h6><b>{{comment.name }} : </b></h6>
                    <div class="row ">
                        <div class="col-sm-1 col-1"></div>
                        <div class="col-sm-10 col-10 ">
                            <p> {{comment.content}} </p>
                        </div>
                        <i ng-show="dat " ng-click="delete(comment.id,$index) " class="fa fa-times t " aria-hidden="true "></i>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
</div>