<title>Edit password</title>
<div ng-show="dat">
    <navbar-admin></navbar-admin>

    <form class="form-group" ng-submit="passChange()">

        <div class="container col-sm-8">
            <h2 class="form-signin-heading">Nouveau mot de passe</h2>
            <br>

            <label for="ancien_pass">Ancien Mots de passe</label><input ng-model="password" type="password" name="ancien_pass" class="form-control control" placeholder="Enter old password" pattern="[A-Za-z0-9_ ,]{1,}" required>
            <br>

            <label for="new_pass">Nouveau Mots de passe</label><input ng-model="new_pass" type="password" name="new_pass" class="form-control control" placeholder="Enter new password" pattern="[A-Za-z0-9_ ,]{1,}" required>

            <br>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-success"><i class="fa fa-check" aria-hidden="true"></i> <em>Change</em></button> </div>
        </div>
    </form>

</div>