<title>Edit posts</title>
<div ng-show="dat">
    <navbar-admin></navbar-admin>
    <a href="#!/admin/posts/1">
        <i class="fa fa-chevron-circle-left m" aria-hidden="true"></i><br><br></a>
    <h1><i class="fa fa-pencil-square" aria-hidden="true"></i> <em>Editez vos posts</em></h1><br>
    <div ng-show="loading" class="container admin text-center"><em><i style="font-size:15em;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i><br>
            <h1>Loading...</h1></em></div>
    <div ng-hide="loading">
        <form enctype="multipart/form-data" ng-submit="edit()">
            <input type="hidden" name="request" value="Articles.edit">
            <input type="hidden" name="id" value="{{oop}}">

            <div class="row">
                <div class="col-sm-8 col-8">
                    <label for="titre">Titre</label>
                    <input type="text" ng-model="titre" name="titre" class="form-control control" placeholder="titre" required>
                    <br>

                    <label for="content">Contenu</label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="content" name="content" class="form-control control"></textarea>
                    <br>

                    <label for="category">Catégorie</label>
                    <select class="form-control custom-select" name="category" ng-model="category" required>
                   <option ng-repeat="categorie in categories" value="{{categorie.id}}">{{categorie.titre}}</option>
                </select>
                    <br>

                    <div class="text-right">
                        <br>
                        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i><em> Enregistrer</em></button>
                    </div>
                </div>

                <div class="col-sm-4 col-4">
                    <br>
                    <label class="custom-file">
                <input type="file" name="images" id="file" class="btn btn-primary" multiple>
                </label>
                    <br><br>
                    <ul>
                        <li class="list-unstyled" ng-repeat="image in images">
                           <a href=""> <i class="fa fa-times t" aria-hidden="true" ng-click="deleteImg(image.id,$index)"></i></a>
                            <br>
                            <a href="img/articles/{{image.name}}" data-lightbox="roadtrip"> <img src="img/articles/{{image.name}}" class="img-fluid img-thumbnail" alt="Images" width="280px"></a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>